* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.App {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pan {
  background: #e2e2e2;
  padding: 50px;
  border-radius: 12px;
}

.button {
  cursor: pointer;
  width: 280px;
  height: 54px;
  border-radius: 12px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6393ed;
  color: #fff;
}
